.headerOption {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  color: #777777;
  cursor: pointer;
}

.headerOption:hover {
  color: #333333;
}

.headerOption > h3 {
  font-weight: 400;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerOption__icon {
  object-fit: contain;
  height: 25px !important;
  width: 25px !important;
}

.headerOption__icon--avatar {
  height: 20px !important;
  width: 15px !important;
}
